template(name="chatroom")
    +menu
    #chat-room-id(style="display:none;") #{chatRoomId}
    .col-lg-2.border-right#chatUsers
        .col-lg-12
            .col-lg-6
                h2(style="padding-left:20px;") Users
            .col-lg-6
                a.btn.btn-danger.btn-raised.btn-sm(href="#" data-toggle='modal', data-target='#complete-dialog' style="margin-top:23px;")
                    | Add
                    .ripple-wrapper
        .col-lg-12(style="padding:0;")
            .list-group
                each users
                    +chatuser
    .container
        .firstRow
            #chatBox
                .list-group
                    //TODO show author
                    each chatMessages
                        +chatmsg
        form#chat-form
            textarea#chat-input(placeholder="Type your message here...")
            button.btn.btn-primary#chat-btn(type='submit') Send

    #complete-dialog.modal.fade.in(tabindex='-1', aria-hidden='false')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Add users to the chat
                .modal-body
                    +searchUsers
                .modal-footer