template(name='chatmsg')
    .list-chat-item.list-group-item
        .row-picture.chat-picture
            img.circle(src='http://lorempixel.com/56/56/people/1', alt='icon')
        .row-content
            p.chatMsgs #{chatRoomMsg}
            small
                | #{date} by #{username}
