template(name='chatuser')
    .list-group-item
        .row-picture
            each userProfilePicture
                +avatar(user=this size='large' shape='circle')
        .row-content
            h4.floatleft.ma10per #{username}
            a.close.ma10per.kickuser(href="#") ×
    .list-group-separator