template(name='chatuser')
    .list-group-item
        .row-picture
            img.circle(src='http://lorempixel.com/56/56/people/1', alt='icon')
        .row-content
            h5 #{profile.firstname} #{profile.name}
    .list-group-separator