template(name='chatuser')
    .list-group-item
        .row-picture
            each userProfilePicture
                +avatar(user=this size='large' shape='circle')
        .row-content
            h4 #{username}
    .list-group-separator