template(name="home")
    .container
        .firstRow
            .col-md-12.text-center
                img#logo-main(src="/hipsterlogogenerator_1439211532769.png" style="height:400px")
        .row(style="margin-top:1px;")
            .col-md-4
            .col-md-4.well
                +login
                +signup
            .col-md-4
