template(name="home")
    .container-fluid(style="margin-top:8%")
        .rox
            .col-md-12.text-center
                h1 TalkieTalk
        .row
            .col-md-4
            .col-md-4.well
                +login
                +signup
            .col-md-4