template(name="main")
    #homePage
    .container
        #firstRow
            .col-lg-12.white(style="margin-top:-20px;height:350px;")
                .col-lg-6
                    blockquote.pull-right.top100px
                        p
                            | Talking have never been so easy
                        small
                            | Someone famous in
                            cite(title='Source Title') a famous magazine
        .row
            .col-lg-12.text-center
                img#logo-main(src="/hipsterlogogenerator_1439211532769.png" style="height:400px")
        .row
            .col-lg-12.text-center
                a.btn.btn-info.btn-lg(href="/create") Create chat room
                a.btn.btn-primary.btn-lg(href='/search') Join a chat room