template(name="main")
    .container
        #firstRow
            .col-lg-12.text-center
                img#logo-main(src="/hipsterlogogenerator_1439211532769.png" style="height:400px")
        .row
            .col-lg-12.text-center
                a.btn.btn-info.btn-lg(href="/create") Create chat room
                a.btn.btn-primary.btn-lg(href='/search') Join a chat room