#firstRow
  margin-top: 60px
.firstRow
  margin-top: 80px
#homePage
  width: 100%
  padding: 0
  height: 390px
  background: #fff
  position: absolute
#mainButtons
  margin-top: 10%

.margin15
  margin: 15px 0 0 15px

.alert
  display: none

.circle
  border-radius: 100%

.floatleft
  float: left

.top50px
  margin-top: 50px

.top100px
  margin-top: 100px
.top19
  margin-top: 14px

.white
  background: #fff

.border-right
  border-right: 1px solid #757575

.list-group .list-group-item .row-content
  width: calc(100% - 75px)
  min-height: 0
  margin-bottom: 0

.navbar
  .navbar-nav
    li
      a:hover
        background: rgba(255, 255, 255, 0.1)

div#chatUsers
  background-color: rgb(255, 255, 255)
  position: fixed
  margin-top: 60px
  height: 100%
  padding: 0
  .list-group-item:first-child
    margin-top: 40px
  .list-group .list-group-separator:before
    width: 100%
  .btn-chat-add-user
    position: fixed
    top: 7.9%
    left: 1%
  .avatar-large
    width: 56px
    height: 56px
    min-width: 56px

.navbar-inverse.navbar
  background-color: #3f51b5
  color: rgba(255, 255, 255, 0.84)
  position: fixed
  width: 100%
  z-index: 999

div#chatBox
  padding-right: 0
  position: absolute
  height: 79.8%
  width: 70%
  left: 27%
  .list-chat-item
    margin-top: 15px
    .avatar
      z-index: 1
      img
        width: 100%
        height: 100%
    &:nth-child(even)
      text-align: right
      .chatMsgs
        text-align: left
        display: inline-block
      .chat-picture
        float: right
        padding-left: 15px
      small
        display: block
    .circle
      width: 29px
      height: 29px
    .chatMsgs
      background-color: #0084ff
      padding: 5px 10px
      width: auto
      max-width: 55%
      min-width: 10%
      border-radius: 10px
      margin: 0
      color : #fff
      p

#chat-form
  #chat-input
    position: fixed
    bottom: 0
    width: 75%
    right: 0
    border: none
    border-top: 1px solid #757575
    height: 100px
    padding: 10px 10% 10px 10px
    z-index: 2
  #chat-btn
    position: fixed
    z-index: 3
    bottom : 2%
    right : 2%
.custom-separator
  clear: both
  overflow: hidden
  margin-top: 10px
  margin-bottom: 10px
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  width: 100%

.mdi-image-add-to-photos
  font-size: 34pt
  &:hover
    color: #4285f4
    cursor: pointer