template(name="search")
    .container#search-container
        .firstRow
            +searchChatForm
    #joinchat-dialog.modal.fade.in(tabindex='-1', aria-hidden='false')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title ChatRoom secures by a password
                .modal-body
                    form.form-horizontal#passChat
                        input(hidden id="hideidchatroom")
                        .form-group#labelPassword
                            .col-lg-10.col-lg-offset-1
                                label.control-label(for='inputPasswordSignUp') Password
                                input#inputPasswordSignUp.form-control(type='password', placeholder='Password')
                        .form-group
                            .col-lg-12.text-center
                                button.btn.btn-default#cancelLink(type="button" data-dismiss="modal") Cancel
                                button.btn.btn-primary(type='submit') Join
                .modal-footer