template(name='chatmsg')
    .list-chat-item.list-group-item
        .row-picture.chat-picture
            each userProfilePicture
                +avatar(user=this size='small' shape='circle')
        .row-content
            p.chatMsgs #{chatRoomMsg}
            small
                | #{date} by #{username}
