template(name="emailinvite")
    .row.email-invite-block(id="#{id}")
        .col-lg-10
            input#disabledInput.form-control.friends-invited(type='text', placeholder='Disabled input here...', disabled='', value="#{email}")

        .col-lg-2
            button.close.remove-email(type='button', aria-hidden='true') ×