template(name='profile')
   .container
       .firstRow
           .col-lg-3
           .col-lg-6.well
               .row
                   .col-lg-6
                       h2 Modify my profile
                   .col-lg-6
                       each userprofile
                           +myavatar
               .row
                   .col-lg-10.col-lg-offset-1
                       form.form-horizontal#formProfile
                           .col-lg-10.col-lg-offset-1
                               #displayAlert
                           .form-group
                               .col-lg-10.col-lg-offset-1
                                  label.control-label(for='username') Username
                                  input#username.form-control.input-lg(type='text' value="#{username}")
                           .form-group#pass
                               .col-lg-10.col-lg-offset-1
                                   label.control-label(for='Password') Old password
                                   input#oldPassword.form-control(type='password' value="")
                           .form-group
                               .col-lg-10.col-lg-offset-1
                                   label.control-label(for='Password') New password
                                   input#newPassword.form-control(type='password' value="")
                           .form-group.has-disabled
                               .col-lg-10.col-lg-offset-1
                                   label.control-label(for='Email') Email
                                   input#Email.form-control(type='email' value="#{email}" disabled)
                           .form-group
                               .col-lg-12.text-center
                                   button.btn.btn-default#resetProfile(type="reset") Reset
                                   button.btn.btn-primary(type='submit') Modify
               .row
                   .col-lg-12.text-left
                       h2 Notifications
                   .col-lg-10.col-lg-offset-1
                       .togglebutton.text-center
                            label
                                input#notifications(type='checkbox', checked='')
                                span.toggle
                                |  Notifications
    .col-lg-3