template(name="menu")
    //TODO active
    .navbar.navbar-inverse
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            if currentUser
                a.navbar-brand(href='/main') TalkieTalk
            else
                a.navbar-brand(href='/') TalkieTalk
        .navbar-collapse.collapse.navbar-inverse-collapse
            if currentUser
                ul.nav.navbar-nav
                    li
                        a(href='/main') Home
                    li
                        form.navbar-form.navbar-left#searchFormMenu
                            input.form-control.col-lg-8.inputSearchChatRoom#chatRoom(type='text', placeholder='Find a chat room')
            ul.nav.navbar-nav.navbar-right
                if currentUser
                    li
                        each userprofile
                            a(href='/profile')
                                +avatar(user=this size='extra-small' shape='rounded' class='floatleft')
                                |   my profile
                    li
                        a#logout(href='/') Logout