template(name="alert")
    .alert.alert-dismissable.alert-danger#alert
        button.close(type='button', data-dismiss='alert') ×
        h5(style="color:rgba(255, 255, 255, 0.84)") #{txt}
        if deleteChat
            .text-center
                a#goMain.btn.btn-primary.btn-raised(href="/main" data-dismiss="modal")
                    | Go Home